{% extends "carseller_app/base.html" %}
{% block title%}
{{title}}
{% endblock %}
{% block description %}


    <div>

        {%if object.Author.profile and object.Author.profile.image %}
            <h3><img style = "width: 150px;height: 150px"
                     src="{{object.Author.profile.image.url}}"
                     alt ="{{object.Author.username}}">

                </h3>
        {%endif%}
    <br>
        <p> {{object.price}}</p>
        <p> {{object.region}}</p>
        <p> {{object.carstateid }}</p>
        <p> {{object.carmodelid }}</p>
        <p> {{object.inginvolume}}</p>
        <p> {{object.fueltypeid}}</p>
        <p> {{object.carbodyid }}</p>
        <p> {{object.drivetypeid }}</p>
        <p> {{object.gearboxid}}</p>
        <p> {{object.color }}</p>

        <p><img style = "width: 150px;height: 150px"src="{{object.Image.url}}"
                     alt ="{{object.Image.name}}"></p>
    {%if object.userid != 0 %}
            <a href="{% url 'sell-update' object.id%}"><button>Update </button></a>
            <a href="{% url 'sell-delete' object.id%}"><button>Delete </button></a>
        {%endif%}
    </div>

{% endblock %}